---
- name: Auto add hosts to Checkmk from AWX inventory
  hosts: all
  gather_facts: yes
  become: no

  vars:
    checkmk_api: "{{ checkmk_url }}/check_mk/api/1.0"
    host_name: "{{ inventory_hostname }}"
    host_ip: "{{ ansible_host | default(ansible_default_ipv4.address) }}"

  tasks:
    - name: Check if host already exists in Checkmk
      uri:
        url: "{{ checkmk_api }}/objects/host_config/{{ host_name }}"
        method: GET
        user: "{{ checkmk_user }}"
        password: "{{ checkmk_secret }}"
        force_basic_auth: yes
        status_code: [200, 404]
      register: checkmk_host_check

    - name: Add host to Checkmk
      uri:
        url: "{{ checkmk_api }}/domain-types/host_config/collections/all"
        method: POST
        user: "{{ checkmk_user }}"
        password: "{{ checkmk_secret }}"
        force_basic_auth: yes
        headers:
          Content-Type: "application/json"
        body_format: json
        body:
          host_name: "{{ host_name }}"
          folder: "{{ checkmk_folder }}"
          attributes:
            ipaddress: "{{ host_ip }}"
      when: checkmk_host_check.status == 404
      register: add_host_result

    - name: Activate Checkmk changes
      uri:
        url: "{{ checkmk_api }}/domain-types/activation_run/actions/activate-changes/invoke"
        method: POST
        user: "{{ checkmk_user }}"
        password: "{{ checkmk_secret }}"
        force_basic_auth: yes
        status_code: 200
      when: checkmk_host_check.status == 404
