---
##################################################
# PLAY 1: Create host via REST API
##################################################
- name: Add hosts to Checkmk via REST
  hosts: all
  gather_facts: yes
  become: no

  vars:
    checkmk_api: "{{ checkmk_url }}/{{ checkmk_site }}/check_mk/api/1.0"

    checkmk_hostname: >-
      {{ inventory_hostname
         | lower
         | regex_replace('[^a-zA-Z0-9_.-]', '_') }}

    checkmk_ip: "{{ ansible_host | default(ansible_default_ipv4.address) }}"

  tasks:
    - name: Debug mapping
      debug:
        msg:
          awx_inventory_hostname: "{{ inventory_hostname }}"
          checkmk_hostname: "{{ checkmk_hostname }}"
          ip: "{{ checkmk_ip }}"

    # 1. Check host exists
    - name: Check if host exists in Checkmk
      uri:
        url: "{{ checkmk_api }}/objects/host_config/{{ checkmk_hostname }}"
        method: GET
        user: "{{ checkmk_user }}"
        password: "{{ checkmk_secret }}"
        force_basic_auth: yes
        validate_certs: no
        headers:
          Accept: application/json
        status_code: [200, 404]
      register: checkmk_host_check

    # 2. Create host if missing
    - name: Create host in Checkmk
      uri:
        url: "{{ checkmk_api }}/domain-types/host_config/collections/all"
        method: POST
        user: "{{ checkmk_user }}"
        password: "{{ checkmk_secret }}"
        force_basic_auth: yes
        validate_certs: no
        headers:
          Accept: application/json
          Content-Type: application/json
        body_format: json
        body:
          host_name: "{{ checkmk_hostname }}"
          folder: "{{ checkmk_folder }}"
          attributes:
            ipaddress: "{{ checkmk_ip }}"
            tag_agent: "cmk-agent"
      when: checkmk_host_check.status == 404


##################################################
# PLAY 2: Discovery + Accept + Activate (SSH)
##################################################
- name: Discover services and activate via automation command
  hosts: all
  gather_facts: no
  become: no

  vars:
    checkmk_hostname: >-
      {{ inventory_hostname
         | lower
         | regex_replace('[^a-zA-Z0-9_.-]', '_') }}

  tasks:
    # 3. Discovery + Accept services (BẮT BUỘC SSH)
    - name: Run discovery + accept services
      ansible.builtin.shell: |
        su - {{ checkmk_site }} -c \
        "cmk --automation service-discovery --hostname {{ checkmk_hostname }} --mode refresh"
      delegate_to: "{{ checkmk_server }}"
      changed_when: true

    # 4. Activate changes
    - name: Activate Checkmk changes
      ansible.builtin.shell: |
        su - {{ checkmk_site }} -c "cmk -R"
      delegate_to: "{{ checkmk_server }}"
      run_once: true
      changed_when: true
